body {
}
hr {
  width: 100%;
  color: #000000;
  margin: 0 0 20px 0;
  border: 1px;
  border-style: solid;
  border-color: #000000;
}
button {
  margin-left: 20px;
  padding: 0 15px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
  color: #666666;
  margin: 15px;
}
h3 {
  margin: 0;
  font-size: 25px;
}
h4:first-letter {
  text-transform: capitalize;
}
h4 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}
th {
  padding: 5px;
}
strong {
  font-size: 70px;
}
.content {
  display: block;
  margin: 0 auto;
  width: 998px;
  border-style: solid;
  border-color: #000000;
}
.header {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.iconTop {
  width: 50px;
}
.iconBottom {
  width: 45px;
}
form {
  display: flex;
  flex-direction: row;
}
#city-input {
  margin-left: 10px;
  width: 540px;
}
#submit {
  margin-left: 20px;
  padding: 0 15px;
}
.github {
    color: #000000;
}
.weather-day {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.day {
  border-style: solid;
  border-color: #000000;
  padding: 0 10px;
}
.night-degree {
  color: #666666;
}
.info-day {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.half-day {
  padding: 0 10px;
}
.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: #000000;
  cursor: default;
  text-decoration: none;
}